<!DOCTYPE html>
<html>
    <head>
        <style>
            div {
                background-color: blueviolet;
            }
        </style>
        <link href="style.css" rel="stylesheet"/>
    </head>
    <body>
        <img src="dog.jpg"/>
        <div style="background-color: aqua;">DIV 박스</div>
        <div>DIV 박스2</div>
    </body>
</html>